
.UserCatches{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userCatch{
  width: 90vw;
  height: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

img{
  border-radius: 5px;
  min-width: 185px;
}

.Catch{
  position: relative;
  border-radius: 5px;
  margin: 25px 45px 25px 5px;
}

.weather{
  font-size: 10px;
}
.temp{
  position: relative;
  bottom: 5px;
}
.date-time{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.date{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 10px;
}
.location{
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(2, 2, 2, .7);
}
.location-item{
  margin: 5px 10px 0px 5px;
}
.fish-info{
  border-top: 1px solid white;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.fishInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 5px;
}
.fly{
  display: flex;
  justify-content: space-between;
}
.fly-info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-transform: capitalize;
  margin-top: 5px;
}
.details{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.d-title{
  text-decoration: underline;
}
 
.fish{
  font-size: 10px;
  margin: 1px;
}
.options-btn{
  border: 2px solid white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  position: absolute;
  right: 0px;
  top: 25px;
}
.options{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: -45px;
  top: 28px;
}
.option-btns{
  background: none;
  border: none;
  color: #b9e496;
  font-weight: bold;
  text-decoration: underline;
  z-index: 10;
}
.option-btns:hover{
  color: white;
}
.weather-icon2{
  font-size: 15px;
}