
.Edit{
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255);
  position: absolute;
  top: 0px;
  min-height: 100%;
  min-width: 100%;
  z-index: 11;
  display: flex;
  flex-direction: column;
}
.x-btn{
  border: none;
  background: none;
  position: absolute;
  top: 2px;
  right: -3px;
}
.section{
  color: darkgray;
  width: unset;
  cursor: pointer;
}
.section:hover{
  color: black;
}
.section:active{
  color: black;
}
.input-title{
  text-decoration: underline;
  margin-bottom: 5px;
}
.Edit-Section{
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.water-btn{
  margin: 0px;
}
.input-group{
  display: flex;
  justify-content: space-evenly;
  width: unset;
}
.inputGroup{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.or{
  color: black;
  right: 80px;
  margin: 0px 5px;
}
.x{
  color: black;
  border: none;
  background: none;
  margin-left: 100px;
}
