
.Nav {
  position: fixed;
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: center;
  color: darkslategrey;
  z-index: 100;
}
.title {
  position: absolute;
  top: 10px;
  color: #b9e496;
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-logout {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-buttons{
  position: absolute;
  top: 20px;
  right: 20px;
}
.fish-img{
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 0;
}
.name{
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 46px;
  left: 40px;
  width: 260px;
}
.settings-btn{
  color: white;
  background: none;
  position: absolute;
  top: 110px;
  left: 135px;
  z-index: 5;
}
.settings-btn:active{
  font-size: 18px;
  margin-bottom: 1px;
  margin-left: 2px;
}

.auth-wrapper {
  position: fixed;
  top: 180px;
}
.auth-box {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  width: 450px;
  margin: 10px;
  background: rgb(255, 255, 255, .9);
  max-width: 98vw;
}
.forgot-p{
  color: darkred;
  position: relative;
  margin-top: 5px;
  cursor: pointer;
}
.show-password-icon {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 25px;
  padding: 5px;
}
.shop-btn{
  margin-top: 10px;
  color: white;
  cursor: pointer;
  text-transform: lowercase;
  z-index: 8;
}

@media(max-width: 1400px){
  .fish-img{
    width: 200px;
  }
  .name{
    font-size: 20px;
    top: 32px;
    left: 70px;
    width: 120px;
  }
  .settings-btn{
    top: 80px;
    left: 105px;
    font-size: 16px;
  }
  .title{
    font-size: 60px;
    margin-top: 20px
  }
  .login-logout{
    top: 20px;
    right: 60px;
  }
}
@media(max-width: 1000px){
  .fish-img{
    display: none;
  }
  .name{
    left: 15px;
    top: 20px;
  }
  .login-logout{
    right: 30px;
  }
  .settings-btn{
    left: 50px;
    top: 50px;
  }
  
}
@media(max-width: 800px){
  .name{
    left: 0px;
    top: 15px;
  }
  .settings-btn{
    top: 45px;
    left: 35px;
    font-size: 14px;
  }
  .login-logout{
    top: 10px;
    right: 15px;
  }
}
@media(max-width: 700px){
  .title{
    font-size: 50px;
  }
  .name{
    top: 15px;
    left: 15px;
    font-size: 14px;
    width: 100px;
    text-align: left;
  }
  .login-logout{
    top: 5px;
  }
  .settings-btn{
    font-size: 12px;
    left: 15px;
    top: 35px;
  }
  .login-buttons{
    position: relative;
    top: 120px;
    margin: auto;
    left: 0px;
  }
}
@media(max-width: 550px){
  .title{
    margin-top: 25px;
  }
  .name-email{
    padding: 0px;
  }
}

@media(max-width: 400px){
  .title{
    margin-top: 15px;
    font-size: 40px;
  }
}