
.Catch{
  position: relative;
  border-radius: 5px;
  margin: 0px 45px 25px 5px;
  max-width: 100%;
}

.weather{
  font-size: 10px;
}
.temp{
  position: relative;
  bottom: 5px;
}
.date-time{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.date{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 10px;
}
.location{
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(2, 2, 2, .7);
}
.location-item{
  margin: 5px 10px 0px 5px;
  text-transform: capitalize;
}
.catch-img{
  min-width: 228px;
  max-width: 100%;
}
.fish-info{
  border-top: 1px solid white;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.fishInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 5px;
}
.fly{
  display: flex;
  justify-content: space-between;
}
.fly-info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-transform: capitalize;
  margin-top: 5px;
}
.details{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.d-title{
  text-decoration: underline;
  position: relative;
  top: 5px;
}
 
.fish{
  font-size: 10px;
}
.options-btn{
  height: 20px;
  width: 40px;
  padding: 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 1px;
  top: 26px;
  cursor: pointer;
}
.options-btn:hover{
  border: 1px solid white;
  padding: 2px;
}
.options-btn:active{
  height: 18px;
  width: 38px;
  top: 27px;
  right: 2px;
}
.options{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: -40px;
  top: 28px;
}
.option-btns{
  margin-bottom: 5px;
  background: none;
  border: none;
  color: #b9e496;
  font-weight: bold;
  text-decoration: underline;
  z-index: 10;
  cursor: pointer;
}
.option-btns:hover{
  color: white;
}
.weather-icon2{
  font-size: 15px;
}
.Delete{
  color: rgb(201, 106, 72);
  position: absolute;
  top: 25px;
  height: 100%;
  border: 2px solid black;
  border-radius: 5px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  padding: 20px;
}
.d-btns{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media(max-width: 500px){
  .Catch{
    max-width: 100%;
    margin: 0px 0px 20px 0px;
  }
}

