.Weather{
  color: lightseagreen;
}
.weather-btn{
  color: lightseagreen;
}
.specific-temp{
  color: #343A40;
}
.weather-icon{
  font-size: 28px;
}
.sun{
  color: orange;
}
.pc{
  color: wheat;
}
.cloud{
  color: gainsboro;
}
.pcr{
  color: lightsteelblue;
}
.rain{
  color: skyblue;
}
.snow{
  color: ivory;
}