
.Nav {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: center;
  color: darkslategrey;
}
.title {
  position: absolute;
  top: 10px;
  color: #b9e496;
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-items {
  width: 98%;
  height: 50%;
  margin: 10px 50px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name{
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkseagreen;
}
.water{
  font-size: 40px;
}
.water:hover{
  color: yellow;
}
.water:active{
  font-size: 35px;
  margin-top: 5px;
}

.auth-wrapper {
  position: fixed;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.auth-box {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  width: 450px;
  margin: 10px;
  background: rgb(255, 255, 255, .9);
}
.show-password-icon {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 25px;
  padding: 5px;
}

