
.Nav {
  position: fixed;
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: center;
  color: darkslategrey;
  z-index: 100;
}
.title {
  position: absolute;
  top: 10px;
  color: #b9e496;
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-logout {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fish-img{
  position: absolute;
  top: -50px;
  z-index: 0;
}
.name-wrapper{
  position: absolute;
  top: 35px;
  left: 20px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name{
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  z-index: 1;
  cursor: pointer;
}
.greeting:active{
  font-size: 33px;
  margin-left: 1px;
  margin-top: 1px;
}
.settings-btn{
  text-transform: lowercase;
  background: none;
  position: absolute;
  top: 65px;
  left: 115px;
}
.settings-btn:hover{
  color: rgb(207, 207, 207);
}
.settings-btn:active{
  font-size: 18px;
  margin-bottom: 1px;
  margin-left: 2px;
}
.water{
  font-size: 40px;
}
.water:hover{
  color: yellow;
}
.water:active{
  font-size: 35px;
  margin-top: 5px;
}

.auth-wrapper {
  position: fixed;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.auth-box {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  width: 450px;
  margin: 10px;
  background: rgb(255, 255, 255, .9);
}
.show-password-icon {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 25px;
  padding: 5px;
}

